@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800,900');

body {
  background-color: #282c34;
  font-family: 'Nunito';
  font-weight: 250;
}

nav {
  margin-bottom: 20px;
}

.navbar li a {
    font-family: 'Lato';
    font-weight: 600;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #adafb2;
  }

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffcc33;
  -webkit-transition: color 0.2s ease-in;
-moz-transition: color 0.2s ease-in;
-ms-transition: color 0.2s ease-in;
-o-transition: color 0.2s ease-in;
transition: color 0.2s ease-in;
    }

    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav li {
        display: inline-block;
        float:none;
    }

    .navbar-brand {
      margin-left: auto;
      margin-right: auto;
    }

div .items {
  margin-bottom: 30px;
}

img.img-fluid:hover{
  opacity: 0.2;
}


div .items:hover{
  background-color: #ffcc33;
  opacity:
  -webkit-transition: color 2s ease-in;
-moz-transition: color 2s ease-in;
-ms-transition: color 2s ease-in;
-o-transition: color 2s ease-in;
transition: color 2s ease-in;
}

.navbar-dark .navbar-toggler {
  color: white;
}

.navbar-expand-sm .navbar-nav .nav-link {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-nav .nav-link {
  margin-left: 15px;
  margin-right: 15px;
}
